# Example .env file for Docker Compose | copy and rename to .env

DISCORD_TOKEN=""

OPENWEBUI_API_URL="http://host.docker.internal:3999"
OPENWEBUI_API_KEY=""
OPENWEBUI_JWT_TOKEN=""
OPENWEBUI_DEFAULT_MODEL="monolith" # e.g., llama3:latest, mistral:instruct

OLLAMA_API_URL="http://localhost:11434/"

DOCS_ZIP_URL="https://github.com/open-webui/docs/archive/refs/heads/main.zip"
DOCS_BASE_URL="https://docs.openwebui.com/"
DOCS_SUBDIR_IN_ZIP="docs/"