# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Logs and data
data/
*.log
*.sqlite3
*.db
channel_logs/

# Docker
docker-volumes/

# Discord Token File
token.txt

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
docs.zip
extracted_docs/
*.ldb